%footer.footer
  %small Microblog by Erik Rumppe
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li= link_to "News", 'http://news.railstutorial.org/', :target => '_blank'